body{
    font-family: 'Rubik Dirt', cursive;
}
header{
    background-image: linear-gradient(to right, #000000,#3E065F,#000000);
    padding: 20px 0;
    
}
h1{
    font-size: 35px;
    text-align: center;
    color: white;
}

main{
    background-image: linear-gradient(45deg, #3E065F,#700B97,#8E05C2,#700B97,#3E065F);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
    height: 100vh;
}
.instruccion{
    display: flex;
    align-items: flex-start;
    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
    color: #000000;
}
.exclamation{
    margin: 0%;
    width: 10px;
}

.bloque-izq{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.caja-botones{
    display: flex;
    
    justify-content: space-between;
}
.botones{
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #6a11cb 40%, #2575fc 20%,#6a11cb 40%);
    color: #ffffff;
    font-weight: bold; 
    cursor: pointer;
    transition: all 1.1s;
}
.botones:hover{
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    transform: scale(1.1);
}
.bloque-der{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.mensaje-recivido{
   
    padding-right: 0%;
}

/*comentario*/
textarea{
    resize: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 15px;
    background-color: azure;
    text-align: center;
    font-weight: bold;
    box-shadow: 4px 4px 6px;
    outline: none; 
}

footer{
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, #000000,#3E065F,#000000);
}
@media (max-width:1024px) {
    textarea{
        height: 40vh;
    }
    .instruccion{
        font-size: 20px;
    }
    .exclamation{
        width: 20px;
        margin-right: 3px;
    }
    
}